p{
    padding: 0;
    margin: 0;
}
nav{
    background: #141E30;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.about-container{
    padding: 20vh 10vw 0 10vw;
}
.about-info{
    font-size: 1.2rem;
    text-align: center;
}
.about-intro{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10vh;
}
.about-name{
    font-size: 3rem;
    margin-left: 10vw;
    align-self: flex-end;
}
.about-img{
    height: 20vw;
    width: 20vw;
    background-image: url(../images/artist.jpg);
    background-size:cover;
    border-radius: 8px;
}

@media (max-width: 600px) {
    .about-intro{
        flex-direction: column;
    }
    .about-name{
        margin-left: 0;
        align-self: center;
        margin-top: 24px;
    }
    .about-img{
        align-self: center;
        height: 40vw;
        width: 40vw;
    }
}